<div x-data="{
              step: 1,
              notIsEmpty(value) {
                return value.trim() !== '';
              },
              focusInput() {
                this.$nextTick(() => {
                  const input = document.querySelector(`input[x-ref='step-${this.step}']`);
                  if (input) {
                    input.focus();
                  }
                });
              }
            }"
  x-cloak>
  <div class="max-w-3xl mx-auto px-4 py-10 bg-gray-100 rounded-lg">
    <%= form_for loan do |form| %>
      <div x-show.transition="step === 'complete'">
        <div class="bg-indigo-200 rounded-lg p-10 flex items-center shadow justify-between">
          <div>
            <svg class="mb-4 h-20 w-20 text-green-500 mx-auto" viewBox="0 0 20 20" fill="currentColor">  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>

            <h2 class="text-2xl mb-4 text-gray-800 text-center font-bold">Registration Success</h2>

            <div class="text-gray-600 mb-8">
              Thank you. We have sent you an email to demo@demo.test. Please click the link in the message to activate your account.
            </div>

            <button
              @click="step = 1"
              class="w-40 block mx-auto focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-gray-600 bg-white hover:bg-gray-100 font-medium border"
            >Back to home</button>
          </div>
        </div>
      </div>

      <div x-show.transition="step != 'complete'">
        <!-- Top Navigation -->
        <div class="border-b-2 py-2">
          <div class="flex-1 pb-10">
            <div>
              <div class="text-lg font-bold text-gray-700 leading-tight">
                <%= image_tag "longleaf.png", class: "h-16", alt: "longleaf" %>
              </div>
            </div>
          </div>
          <div class="flex flex-col md:flex-row md:items-center md:justify-between">
            <div class="uppercase tracking-wide text-xs font-bold text-gray-500 mb-1 leading-tight" x-text="`Step: ${step} of 8`"></div>

              <div class="flex items-center md:w-64">
                <div class="w-full bg-white rounded-full mr-2">
                  <div class="rounded-full bg-green-500 text-xs leading-none h-2 text-center text-white" :style="'width: '+ parseInt(step / 8 * 100) +'%'"></div>
                </div>
                <div class="text-xs w-10 text-gray-600" x-text="parseInt(step / 8 * 100) +'%'"></div>
              </div>
            </div>
        </div>
        <!-- /Top Navigation -->

        <!-- Step Content -->
        <div class="py-10">
          <div x-show.transition.in="step === 1">
            <div class="mb-5">
              <span>
                <%= form.label :address, "1- Address", class: "form-label" %>
              </span>
            </div>

            <div class="mb-5">
                <%= form.text_field :address, class: "form-input block w-full p-2.5", "x-on:keydown.enter.prevent": "if (notIsEmpty($event.target.value)) { step++; focusInput() }", required: "required", "x-ref": "step-1" %>
            </div>
          </div>

          <div x-show.transition.in="step === 2">
            <div class="mb-5">
              <div class="mb-5">
                <span>
                  <%= form.label :loan_term, "2- Loan Term (in months)", class: "form-label" %>
                </span>
              </div>
            </div>

            <div class="mb-5">
              <%= form.number_field :loan_term, class: "form-input w-full", min: 1, max: 12, step: "1", required: "required", "x-on:keydown.enter.prevent": "if (notIsEmpty($event.target.value)) { step++; focusInput() }", "x-ref": "step-2" %>
            </div>

          </div>

          <div x-show.transition.in="step === 3">
            <div class="mb-5">
              <div class="mb-5">
                <span>
                  <%= form.label :purchase_price, "3- Purchase Price", class: "form-label" %>
                </span>
              </div>
            </div>

            <div class="mb-5">
              <%= form.number_field :purchase_price, class: "form-input w-full", required: "required", "x-on:keydown.enter.prevent": "if (notIsEmpty($event.target.value)) { step++; focusInput() }", "x-ref": "step-3" %>
            </div>
          </div>

          <div x-show.transition.in="step === 4">
          <div class="mb-5">
            <div class="mb-5">
              <span>
                <%= form.label :repair_budget, "4- Repair Budget", class: "form-label" %>
              </span>
            </div>
          </div>

          <div class="mb-5">
            <%= form.number_field :repair_budget, class: "form-input w-full", min: 0, step: "any", required: "required", "x-on:keydown.enter.prevent": "if (notIsEmpty($event.target.value)) { step++; focusInput() }", "x-ref": "step-4" %>
          </div>
        </div>

        <div x-show.transition.in="step === 5">
          <div class="mb-5">
            <div class="mb-5">
              <span>
                <%= form.label :after_repair_value, "5- After repair value (ARV)", class: "form-label" %>
              </span>
            </div>
          </div>

          <div class="mb-5">
            <%= form.number_field :after_repair_value, class: "form-input w-full", min: 0, step: "any", required: "required", "x-on:keydown.enter.prevent": "if (notIsEmpty($event.target.value)) { step++; focusInput() }", "x-ref": "step-5" %>
          </div>
        </div>

        <div x-show.transition.in="step === 6">
          <div class="mb-5">
            <div class="mb-5">
              <span>
                <%= form.label :name, "6- Name", class: "form-label" %>
              </span>
            </div>
          </div>

          <div class="mb-5">
            <%= form.text_field :name, class: "form-input w-full", required: "required", "x-on:keydown.enter.prevent": "if (notIsEmpty($event.target.value)) { step++; focusInput() }", "x-ref": "step-6" %>
          </div>
        </div>

        <div x-show.transition.in="step === 7">
          <div class="mb-5">
            <div class="mb-5">
              <span>
                <%= form.label :email, "7- Email", class: "form-label" %>
              </span>
            </div>
          </div>

          <div class="mb-5">
            <%= form.email_field :email, class: "form-input w-full", required: "required", "x-on:keydown.enter.prevent": "if (notIsEmpty($event.target.value)) { step++; focusInput() }", "x-ref": "step-7" %>
          </div>
        </div>

        <div x-show.transition.in="step === 8">
          <div class="mb-5">
            <div class="mb-5">
              <span>
                <%= form.label :phone, "8- Phone", class: "form-label" %>
              </span>
            </div>
          </div>

          <div class="mb-5">
            <%= form.text_field :phone, class: "form-input w-full",
                  required: "required",
                  "x-on:keydown.enter.prevent": "if ($event.target.value.trim() === '') $event.preventDefault()",
                  "x-on:keydown.enter": "if (notIsEmpty($event.target.value)) { step = 'complete' }", "x-ref": "step-8" %>
          </div>
        </div>
        <article class="text-pretty text-xs italic">
          Press Enter to continue
        </article>
        <!-- / Step Content -->
      </div>
    <% end %>
    <!-- Bottom Navigation -->
    <div class="py-2" x-show="step != 'complete'">
      <div class="max-w-3xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="w-1/2">
            <button
              x-show="step > 1"
              @click="step--; focusInput()"
              class="w-32 focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-gray-600 bg-white hover:bg-gray-100 font-medium border"
            >Previous</button>
          </div>

          <div class="w-1/2 text-right">
            <button
              x-show="step < 8"
              @click="step++; focusInput()"
              class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-blue-500 hover:bg-blue-600 font-medium"
            >Next</button>

            <button
              @click="step = 'complete'"
              x-show="step === 8"
              class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-blue-500 hover:bg-blue-600 font-medium"
            >Complete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

